@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body{
	font: 300 17px/1.4 'Roboto', sans-serif;
	background-color: #f4f4f1;
	color: #3d3935;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	margin: 0 0 20px;
}

p{
	margin: 0 0 20px;
}

a{
	color: #bc204b;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	min-height: 46px;
	line-height: 46px;
	color: #bc204b;
	border: 1px solid #bc204b;
	padding: 0 18px;
	border-radius: 23px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	text-decoration: none;
	background-color: #bc204b;
	color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header{
	padding: 15px 0;
	background: #ffffff;
	line-height: 1;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
	min-height: 80px;
}

.ba-logo{
	display: inline-flex;
	line-height: 1;
}

.ba-intro{
	background: #ac0835;
	background: linear-gradient(to bottom #ac0835, #982657);
	color: #ffffff;

	padding: 30px 0;
	min-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.ba-intro::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	background: #ac0835;
	background: linear-gradient(to bottom, #ac0835, #982657);
	opacity: 0.8;
}

.ba-intro a{
	color: inherit;
}

.ba-intro__links{
	max-width: 650px;
	margin: 0 auto;
}

.ba-intro__inner{
	position: relative;
	z-index: 2;
}
.ba-intro__video{
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ba-link-box{
	display: flex;
	font-size: 16px;
	letter-spacing: 0.01em;
}

.ba-link-box:hover{
	text-decoration: none;
}

.ba-link-box__icon{
	flex-shrink: 0;
	margin-right: 15px;
	width: 49px;
	height: 51px;
}

.ba-link-box__title{
	font-size: 17px;
	margin-bottom: 5px;
	letter-spacing: -0.01em;
}

.ba-link-box p{
	color: rgba(255,255,255,0.7);
}

.ba-page-title{
	font-weight: 300;
	font-style: 60px;
	margin-bottom: 1px;
}

.ba-page-subtitle{
	font-size: 22px;
	color: rgba(255,255,255,0.7);
	margin-bottom: 50px;
}

.ba-readmore{
	display: inline-flex;
	align-items: center;
}

.ba-readmore > svg{
	margin-left: 10px;
}

.ba-readmore--yellow{
	color: #f1b828;
}

.ba-readmore--blue{
	color: #489fdf;
}

.ba-link-box .ba-readmore{
	opacity: 0;
	transition: 0.3s;
	transition-property: opacity, transform;
	transform: translateX(-20px);	
}

.ba-link-box:hover .ba-readmore{
	opacity: 1;
	transform: translateX(0);
}

.ba-hidden{
	display: none;
}

.ba-magasine{
	padding: 110px 0 50px 0;
}

.ba-magasine__header{
	margin-bottom: 50px;
	align-items: center;
}

.ba-section-title{
	text-align: center;
	font-weight: 300;
	font-size: 45px;
}

.ba-magasine__header .ba-section-title{
	margin-bottom: 0px;
}

.ba-slider-button{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.ba-slider-button button{
	background: none;
	padding: 0;
	border: none;
	display: flex;
	color: #9c9a97;
}

.ba-slider-button .ba-button{
	margin-left: 15px;
}

.ba-slider-button button:hover{
	color: #bc204b;

}

.ba-slider-button button + button{
	margin-left: 10px;
}

.ba-post__post{
	
}

.ba-post__link{
	position: relative;
}

.ba-post__post .ba-post__data:hover{
	opacity: 1;
}

.ba-post__data{
}

.ba-post__data{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -200px;
	left: 20px;
	right: 0;
	bottom: 0;
	font: 400 20px/1.1 'Roboto', sans-serif;
	color: #ffffff;
	background-color: rgba(0,0,0,0.3);
	border-radius: 6px;
}

.ba-post__data--violet span{
	color: #982657;
}

.ba-post__data-month{
	font: 400 12px/2 'Roboto', sans-serif;
	letter-spacing: 0.1em;
}

.ba-post__title a{
	color: #000;
	font: 400 19px/1.3 'Roboto', sans-serif;
	letter-spacing: 0.005em;
}

.ba-post__categories{
	position: relative;
	font: 400 10px/2 'Roboto', sans-serif;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-left: -20px;
}

.ba-post__categories::before{
	position: absolute;
	top: 5px;
	bottom: 0;
	right: 0;
	left: 20px;
	content: '';
	width: 8px;
	height: 8px;
	border: 2px solid #88BEE6;
	border-radius: 5px;
}

.ba-post__categories--violet::before{
	border-color: #982657;
}

.ba-post .ba-readmore{
	opacity: 0;
	transition: 0.3s;
	transition-property: opacity, transform;
	transform: translateX(-20px);	
}

.ba-post:hover .ba-readmore{
	opacity: 1;
	transform: translateX(0);
}

.ba-post .ba-post__data{
	opacity: 0;
	transition: 0.3s;
	transition-property: opacity, transform;
	transform: translateX(-20px);	
}

.ba-post:hover .ba-post__data{
	opacity: 1;
	transform: translateX(0);
}

.ba-post:hover{
	text-decoration: none;
}

.ba-post--violet{
	color: #E692AA;
}

.ba-post--yellow{
	color: #F2C450;
}